<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <strong>GestionStages</strong> |
        @Context.Session.GetString("Nom") (@Context.Session.GetString("Role"))
        | <a href="/Account/Logout">Déconnexion</a>
    </div>
    <hr />
    @RenderBody()
</body>
</html>
