@{
    ViewBag.Title = "Encadrant";
}
<h2>Tableau de bord - Encadrant</h2>
<p>Bienvenue <strong>@ViewBag.Nom</strong>.</p>
<ul>
    <li>Stagiaires suivis</li>
    <li>Evaluations</li>
    <li>Planning</li>
</ul>
